
body {
	font-family: 'Helvetica';
	font-size: 2em;
    background-color: rgb(191, 216, 208);
    padding: 20px;
    text-align: center;
    margin: 0;
    height: 100vh;
}
input {
	height: 50px;
	width: 300px;
	font-size: 1.2em;
}
table, th, td {
	width: 500px;
	border: 1px solid black;
	border-collapse: collapse;
}
.container {
    border: 2px solid #ccc;
    padding: 20px;
}

.tablesSection table {
    border-collapse: collapse;
    width: 100%;
}

.tablesSection th, .tablesSection td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tablesSection th {
    background-color: #f2f2f2;
}

.setVisibility {
    text-align: center;
}
#inputForm {
    border: 2px solid #000000;
    padding: 20px;
    margin-bottom: 20px; 
}

.tablesSection table {
    border: 2px solid #000000;
    border-collapse: collapse;
    width: 100%;
}

.tablesSection th, .tablesSection td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}